body {
	font: normal 12px tahoma;
}

.example {
	border: 12px solid silver;
	width: 300px;
}


.example {
	border: 12px solid silver;
	width: 300px;
	height: 100px;
}

.example_1 {
	border: 12px solid green;
	float:left;
}

.example_2 {
	float:right;
}

.example_3 {
	border: 12px solid yellow;
	position: fixed;
	bottom: 30px;
	right: 120px;
}
.example_4 {
	border: 12px solid red;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -50px;

}




.blump {
	position: fixed;
	border-radius: 12px;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	border: 2px solid blue;


}